table,td,tr,body{
    margin: 0;
    padding: 0;
    border: 0;
}

.fw{
    width: 600px;
    height: 600px;
    border: 1px solid #666;
    background-color: #CCC1B3;
    float: right;
    border-radius: 10px;
}

.fw td{
    width: 130px;
    height: 130px;
    border: 5px solid #BBADA1;
    box-sizing: border-box;
    text-align: center;
    font-size: 50px;
    color: #000;
    border-radius: 10px;
}
.fw_break{
    height: 595px;
    width: 900px;
    margin: 0 auto;
    position: relative;
    background-color: hotpink;
    border-radius: 10px;
}
input{
    float: right;
    width: 150px;
    height: 120px;
    margin: 50px 60px;
    font-size: 20px;
    border-radius: 70px;
    background-color: gold;
    line-height: 120px;
}



.fw_score{
    width: 150px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 90px;
    background-color: yellow;
    line-height: 150px;
    border-radius: 20px;
}
.fw_Score{
    width: 150px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 270px;
    left: 90px;
    background-color: yellow;
    line-height: 150px;
    border-radius: 20px;
}

.clearfix:after{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    clear: both;
}

.clearfix:before{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    width: 0;
    clear: both;
}
.rule{
    width: 860px;
    height: 20px;
    margin: 0 auto ;
    padding: 20px;
    line-height: 20px;
    background-color: red;
    border-radius: 10px;
    text-align: center;
}