.wrapbox{
    margin:0 auto;
    position:relative;
}
div,li,ul{
    margin: 0;
    padding: 0;
    border: 0;
}

.fw{
    width: 450px;
    height: 600px;
    background: #FBF8EF;
}

.fw_2048{
    width: 450px;
    height: 550px;
}
.fw_2048 .head{
    width: 440px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fw_2048 .head div{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.fw_2048 .head .shell input{
    width: 150px;
    height: 50px;
    border-radius: 10px ;
    background: #FBF8EF;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}
.fw_2048 .head .shell{
   float: left;
    margin-left: 15px;
}
.fw_2048 .head .goal{
}
.fw_2048 .head .horn{
    float: right;
    margin-right: 15px;
}



.fw_2048 ul{
    width: 420px;
    height: 420px;
    border-right: 5px solid #BAAC9F;
    border-top: 5px solid #BAAC9F;
}
.fw_2048 ul li{
    list-style: none;
    width: 100px;
    height: 100px;
    float: left;
    border-left: 5px solid #BAAC9F;
    border-bottom: 5px solid #BAAC9F;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    background: #CCBEB1;
}